<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="UTF-8">

	<title>{{ .Title }} | {{ .Site.Title }}</title>

	<meta name="author" content="{{ .Site.Params.Author }}">
	<meta name="application-name" content="{{ .Site.Title }}">
	<meta name="description" content="{{ .Site.Params.Description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{ template "_internal/schema.html" . }}
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}

	<link rel="stylesheet" href="{{ .Site.BaseURL }}style.css">
	<link rel="icon" href="{{ .Site.BaseURL }}favicon.svg">

	{{- block "head" . }}{{- end }}
</head>

<body>
	<div style="display: contents;">
		{{- partial "nav.html" . -}}
		<main>
			{{- block "main" . }}{{- end }}
		</main>
		{{- partial "footer.html" . -}}
	</div>
</body>

</html>
