{{ define "head" }}
{{ $style := resources.Get "styles/listpage.css" | minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}

<header id="banner">
	<h1 class="title">{{ replace .Name "-" " " | title }}</h1>
	<p class="subtitle">{{ .Content }}</p>
</header>

<section id="list">
	{{ range .Pages.ByTitle }}
	<a class="item" href="{{ .Permalink }}">
		<img class="thumb" src="/knabino-magia/{{ .Page.Params.thumbnail }}" alt="{{ .Page.Title }} thumbnail" />
		<h3>{{ .Title }}</h3>
	</a>
	{{ end }}
</section>

{{ end }}
