* {
	box-sizing: border-box;
}

:root {
	/* Canva's Pink Sky color palette */
	--canva0: hsl(208, 50%, 20%);
	--canva1: hsl(211, 49%, 17%);
	--canva2: hsl(345, 28%, 50%);
	--canva3: hsl(351, 42%, 65%);
	--canva4: hsl(354, 58%, 79%);

	/* Text color based on canva4 to improve contrast */
	--text: hsl(354, 58%, 82%);

	/* Global design settings */
	background: var(--canva0);
	color: var(--text);
	font-size: large;
	font-family: "Trebuchet MS", Arial, sans-serif;
}

/* BUILDING BLOCKS */

body {
	margin: 0;
}

main {
	min-height: 90vh;
}

header,
article,
footer,
section {
	padding: 1rem;
}

footer {
	background: var(--canva1);
	text-align: center;
}

article {
	width: clamp(45ch, 75%, 75ch);
	margin: auto;
}

blockquote {
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

table,
pre {
	padding: 1rem;
	border-radius: 1rem;
}

hr {
	margin: 0 1rem;
	border: 2pt solid var(--canva4);
}

/* Navigation Bar */

nav {
	padding: 1rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	overflow: hidden;
}

nav #wordmark img {
	width: 100%;
	height: 3em;
}

nav .menu {
	width: fit-content;
	display: flex;
	flex-wrap: wrap;
}

nav .menu * {
	margin: 0.5rem;
	font-size: large;
}

@media (max-width: 80ch) {
	/* Switch to Wordmark being on top */
	nav {
		padding: 0.5rem;
		gap: 0.5rem;
		flex-direction: column;
	}

	/* Stretch out Navigation menu */
	nav .menu {
		width: 100%;
		justify-content: space-around;
	}
}

/* Banner */

#banner {
	background: url(/KnabinoMagia/img/banner.webp) center center;
	background-size: cover;

	color: var(--canva0);
	text-align: center;
}

#banner .icon {
	width: auto;
	height: 10em;
}

#banner .title {
	margin: 0;
	font-size: clamp(2em, 8vw, 4em);
	font-weight: bolder;
}

#banner .subtitle {
	margin-bottom: 0;
	font-size: 1em;
}

/* TEXT */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0.5em 0;
}

h1,
h2,
h3 {
	font-variant: small-caps;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
	color: var(--canva3);
}

article a:hover {
	text-decoration: underline;
}

::selection,
blockquote {
	background: var(--canva4);
	color: var(--canva0);
}

/* RESPONSIVE-NESS */

@media (max-width: 85ch) {
	article {
		width: auto;
	}
}
